img{width:800px;height:450px;margin:0 auto;}
            .img {
                display:block;
                position: relative;
                width:800px;
                height:450px;
                margin:0
                auto;
            }
            .img:after{ 
                content: "";
                position: absolute;
                width:200px;
                height: 100%;
                top: 0;
                left: -190px;
                overflow: hidden;
                background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
                background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
                background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
                -webkit-transform: skewX(-25deg);
                -moz-transform: skewX(-25deg);
            }
            @keyframes run{
                to{
                    left: 150%; 
                    transition: 
                    left 1s ease 0s; 
                }
            }
            .img:hover:after { 
                animation: run 1s linear infinite;
            }